<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mahua.poetryovertea.mapper.PoetMapper">

    <resultMap id="BaseResultMap" type="com.mahua.poetryovertea.model.entity.Poet">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="dynastyId" column="dynasty_id" jdbcType="BIGINT"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="thumbNum" column="thumb_num" jdbcType="INTEGER"/>
            <result property="favourNum" column="favour_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,avatar_url,name,
        dynasty_id,profile,thumb_num,
        favour_num
    </sql>
</mapper>
